<%- include('partials/header') %>


<div>
  <div class="container home-items">
    <a href="/"><i class="fa-solid fa-mask fa-6x" style="color: #343a40"></i></a>
    <h1 class="brand-title">Shadow Speak</h1>
    <p class="lead">Let your secrets escape the shadows, share them anonymously on Shadow Speak!<i class="fa-solid fa-user-secret"></i></p>
    <hr>
    <br>
    <div class="buttons-div">
    <a class="btn btn-light btn-lg register-btn" href="/register" role="button">Register</a>
    <a class="btn btn-dark btn-lg login-btn" href="/login" role="button">Login</a>
  </div>
  </div>
</div>

<%- include('partials/footer') %>
