<%- include('partials/header') %>

<div class="jumbotron text-center secret-main-div">
  <div class="container">
    <i class="fa-solid fa-mask fa-6x" style="color: #343a40"></i>
    <h1 class="display-3">Reveal your secrets without getting revealed yourself</h1>


    <% usersWithSecrets.forEach(function(user) { %>
      <p class="secret-text"><%=user.secret%></p>
    <% }) %>


    
    <hr>
    
    <a class="btn btn-light btn-lg login-btn" href="/logout" role="button">Log Out</a>
    <a class="btn btn-dark btn-lg register-btn" href="/submit" role="button">Submit a Secret</a>
  </div>
</div>

<%- include('partials/footer') %>
